---
// Layout Import
import getPostData from '../../utils/getPostData';
import MainLayout from '../../layouts/MainLayout.astro'

export function getStaticPaths() {
  const posts = Astro.fetchContent('../../data/*.md');
  return posts.map(p => ({
    params: { slug: p.file.pathname.split('/').pop().split('.').shift() },
    props: { post: p },
  }));
}

const { Content, title, description, date, heroImage } = Astro.props.post;
const { slug } = getPostData(Astro.props.post)
const readableDate =  (date) => {
    return new Date(date).toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric'});
}
---
<MainLayout 
  title="Post" 
  description={`Muamba Blog Post.`}>
    <div class="content">
        <div class="container">
            <article class="post">
                <header>
                    <h1 class="postTitle">{title}</h1>
                    <p class="meta">{readableDate(date)}</p>
                </header>
                <Content />
            </article>
        </div>
    </div>
</MainLayout>
