---
// Layout Import
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../../data/*.md");
  return posts.map((p) => ({
    params: { slug: p.frontmatter.slug },
    props: { post: p },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const readableDate = (date: Date) => {
  return new Date(date).toLocaleDateString("en-US", {
    day: "numeric",
    month: "short",
    year: "numeric",
  });
};
---

<MainLayout title="Post" description={`Muamba Blog Post.`}>
  <div class="content">
    <div class="container">
      <article class="post">
        <header>
          <h1 class="postTitle">{frontmatter.title}</h1>
          <p class="meta">{readableDate(frontmatter.date)}</p>
        </header>
        <Content />
      </article>
    </div>
  </div>
</MainLayout>
