---
// Layout Import
import MainLayout from "../layouts/MainLayout.astro";

//Components
let allPosts = await Astro.glob("../data/*.md");
allPosts = allPosts.sort(
    (a, b) =>
        new Date(b.frontmatter.publishDate).valueOf() -
        new Date(a.frontmatter.publishDate).valueOf()
);
const recentPosts = allPosts.slice(0, 3);
const readableDate = (date: Date) => {
    return new Date(date).toLocaleDateString("en-US", {
        day: "numeric",
        month: "short",
        year: "numeric",
    });
};
---

<MainLayout
    title="Home"
    description={`Hey! This Muamba a simple Astro blog template.`}
>
    <div class="content">
        <div class="container">
            <div class="home" id="home">
                <h1 class="pageTitle">Recent Posts</h1>
                <div class="posts noList">
                    {
                        recentPosts.map((post, index) => {
                            const href = `/posts/${post.frontmatter.slug}`;
                            return (
                                <div class="articles">
                                    <article>
                                        <span class="date">
                                            {readableDate(
                                                post.frontmatter.date
                                            )}
                                        </span>
                                        <h3>
                                            <a class="post-link" href={href}>
                                                {post.frontmatter.title}
                                            </a>
                                        </h3>
                                        <p>{post.frontmatter.description}</p>
                                    </article>
                                </div>
                            );
                        })
                    }
                </div>
            </div>
        </div>
    </div>
</MainLayout>
