---
export interface Props {
  title: string;
  description: string;
  permalink?: string;
}

const { title, description, permalink } = Astro.props
---

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content={description}>
<title>Muamba | {title}</title>
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="stylesheet" href="/assets/css/site.css" type="text/css">
