---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import MainHead from "../components/MainHead.astro";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <script is:inline src="/assets/js/dropcap.min.js"></script>
    <script is:inline src="/assets/js/responsive-nav.min.js"></script>
    <script>
      // DropCap.js
      var dropcaps = document.querySelectorAll(".dropcap");
      window.Dropcap.layout(dropcaps, 2);

      // Responsive-Nav
      var nav = responsiveNav(".nav-collapse");
    </script>
  </body>
</html>
